.login {
    background-color: #0575ED;
    overflow-x: hidden;
}

.row_login {
    width: 80% !important;
    height: 60% !important;
}

.frm_login {
    background-color: white;
    border-radius: 0 30px 30px 0;
    padding: 90px;
}

.img_rosa {
    padding: 0 !important;
    border-radius: 30px 0 0 30px;
}

@media screen and (max-width: 991px) {
    .frm_login {
        border-radius: 0 0 30px 30px;
        padding: 40px;
    }

    .img_rosa {
        border-radius: 30px 30px 0 0;
    }
}

.custom{
    
    width: 100%;
}

.microsoft-img{
    width:24px;
    
}