.a{
    color: #f9f9f9!important;
}

.brand{
    color: #f9f9f9!important;
}
.dropdown-item{
    color:#000;
}



/*
.a:hover{
    text-decoration: underline!important;
    
    text-decoration-color: #0250a4!important;
    text-underline-offset: 15px!important;
    text-decoration-thickness: 6px!important;
}

.a:active{
    text-decoration: underline!important;
    text-decoration-color: red!important;
    text-underline-offset: 15px!important;
    text-decoration-thickness: 6px!important;
} */