.colaboradores{
    margin:30px 200px 0 200px;
}

@media screen and (max-width: 1800px) {
    .colaboradores {
        margin:20px 120px 0 120px;
    }
}

@media screen and (max-width: 1300px) {
    .colaboradores {
        margin:20px 60px 0 60px;
    }
}

@media screen and (max-width: 991px) {
    .colaboradores {
        margin:20px 20px 0 20px;
    }
}



.table {
    position: -webkit-sticky; /* Safari... */
    position: sticky;
    top: 0;
    left: 0;
  }

.frmedit{
    display: block;
    width: 100%;
    padding: 0.28rem 0.6rem;
    font-size: 1.1rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    background-color: #dddfe1;
    color: #212529;
    text-decoration: none;
    text-align: center;
}

.frmedit:hover{
    background-color: #cfd1d3;
    transition: 0.3s;
    color: #16181b;
}
